.small-cont
{
    width: 40%;
    padding: 2% 2% 2% 2%;
}

search
{
    vertical-align: middle;
}

.center
{
    text-align: center;
}

.header
{
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 40pt;
}

.results
{
    padding-top: 10px;
    padding-left: 50%;
}