{% extends "layout.html" %}

{% block title %}
    Get track
{% endblock %}

{% block body %}
    <h1>{{ pageNum }}</h1>
    <div class="results">
        {% for i in saved_tracks %}
            {% for track in i %}
                <ul>Track name: {{ track['track']['name'] }}</ul>
                <ul>Album name: {{ track['track']['album']['name'] }}</ul>
                <ul>Artist(s):</ul>
                {% for artist in track['track']['artists'] %}
                    <ul>{{ artist['name'] }}</ul>
                {% endfor %}<br>
            {% endfor %}
        {% endfor %}
            
    </div>

    <form action="/get-tracks" method="post">
        <div class="form-group">
            <button name="pageNum" value={{ pageNum }}>Send Page</button>
            <button class="btn btn-primary" type="submit" name="page" value="-1"><</button>
            <button class="btn btn-primary" type="submit" name="page" value="1">></button>
        </div>  
    </form>
{% endblock body %}