{% extends "layout.html" %}

{% block title %}
    Get track
{% endblock %}

{% block body %}
    <div class="results">
        {% for i in saved_tracks %}
            {% for track in i %}
                <ul>Track name: {{ track['track']['name'] }}</ul>
                <ul>Album name: {{ track['track']['album']['name'] }}</ul>
                <ul>Artist(s):</ul>
                {% for artist in track['track']['artists'] %}
                    <ul>{{ artist['name'] }}</ul>
                {% endfor %}<br>
            {% endfor %}
        {% endfor %}
            
    </div>
    <form name="pageDown">
        <button class="btn" type="submit"><</button>
    </form>
    <form name="pageUp">
        <button class="btn" type="submit">></button>
    </form>
{% endblock body %}