{% extends "layout.html" %}

{% block title %}
    Tracks ({{ pageNum }})
{% endblock %}

{% block body %}
    <h1>Page: {{ pageNum }}, Total Tracks: {{ total_tracks }}</h1>
    <form action="/get-tracks" method="post">
        <div class="form-group">
            <button class="btn btn-primary" type="submit" name="page" value="-1"><</button>
            <button class="btn btn-primary" type="submit" name="page" value="1">></button>
            <input autocomplete="off" class="form-control" name="pageSearch" placeholder="Page" type="text">
        </div>  
    </form>

    <div class="results">
        {% for track in saved_tracks %}
            <ul>Track name: {{ track['track']['name'] }}</ul>
            <ul>Album name: {{ track['track']['album']['name'] }}</ul>
            <ul>Artist(s):</ul>
            {% for artist in track['track']['artists'] %}
                <ul>{{ artist['name'] }}</ul>
            {% endfor %}<br>
        {% endfor %}            
    </div> 
{% endblock body %}