{% extends "layout.html" %}

{% block title %}
    Search
{% endblock %}

{% block search %}
    <form action="/" method="post" class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" name="search" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
{% endblock %}

{% block body %}
    <div>
       <h1 class="header">SpotiHelp Home</h1>
    </div>

    <div class="results">
        {% for result in results %}
            <p1>Name: {{ result['name'] }}</p1><br>
            <p2>Followers: {{ result['followers']['total'] }}</p2><br>
            <p3>Popularity: {{ result['popularity'] }}</p3><br>
            <a class="btn btn-secondary" type="submit" href={{ result['external_urls']['spotify'] }}>{{ result['name'] }}</a><br><br>
        {% endfor %}
    </div>
{% endblock %}