{% extends 'layout.html' %}

{% block title %}
    Edit {{ playlist }}
{% endblock title %}

{% block body %}
    <h1 class="header">Edit {{ playlist['playlist_name'] }}</h1>
    <div style="width: 300px; height: 300px; overflow: hidden">
        <img src={{ playlist['playlist_art'] }} alt="Playlist Art" width="300" height="300">
    </div>
    <a href={{ playlist['playlist_link'] }}>{{ playlist['playlist_name'] }}</a>

    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Tracks
    </button>

    <div class="collapse" id="collapseExample">
        {% for track in playlist['tracks'] %}
            <ul>Track name: {{ track['track']['name'] }}</ul>
            <ul>Album name: {{ track['track']['album']['name'] }}</ul>
            <ul>Artist(s):</ul>
            {% for artist in track['track']['artists'] %}
                <ul>{{ artist['name'] }}</ul>
            {% endfor %}<br>
        {% endfor %}
    </div>
{% endblock body %}